{% extends "index.html" %}
{% block title %}
<title>Projects | Tian Jun </title>
{% endblock %}

 {% block content %}

<div class="weibo">
    
    <h1> 翻译 </h1>
    <ul>
        <li><h2>《从神经网络到深度学习》</h2></li>
        <p>计划翻译一本关于神经网络和深度学习的小书。目前该书的作者仍在写作中，但通过前两章的阅读， 我对作者很有信心。
            原文的地址在<a href="http://neuralnetworksanddeeplearning.com/">这里</a>。
            我的译稿放原文放在<a href="https://github.com/findmyway/ch-neural-networks-and-deep-learning">这里</a>。
            全文采用markdown格式写成。
        </p>
        <p>给自己定个计划，有空的时候就翻译一小段，不论多少，看自己能坚持多久~</p>
        
        <p>其实，并不是觉得这件事多么有意义，而是，希望以此为契机，培养自己的一些习惯。最近上了一门创新与创造力管理的课，感触很多，
            在自己身上缺少太多严谨细致的习惯，
            决定做一件自己以前都觉得不屑的事，用最严谨和苛刻的要求来约束自己，把一件事做到极致。之所以选择翻译这么一本小书，一方面是觉得少有文章能全面地将这么个深入的问题讲清楚，
        另一方面，翻译这活需要极大的耐心和对细节的反复斟酌。但愿自己能在这个过程中有所收获。加油~</p>
    </ul>
</div>

{% endblock %}

